<mat-card class="map-container">
  <mat-card-header>
    <div mat-display-4>Map</div>
  </mat-card-header>
  <div class="map-frame">
    <div class="map"></div>
  </div>
  <mat-card-content>
    <p>description goes here</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      <mat-icon>arrow_circle_left</mat-icon>
    </button>
    <button mat-raised-button color="accent">
      <mat-icon>arrow_circle_right</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
