
$primary-color: #9E9E9E;
$accent-color: #607D8B;
$warn-color: #F44336;
$success-color: #4CAF50;
$dark-primary-text: #000000;
$light-primary-text: #FFFFFF;

$primary-palette: (
  50:lighten($primary-color, 50%),
  100:lighten($primary-color, 40%),
  200:lighten($primary-color, 30%),
  300:lighten($primary-color, 20%),
  400: lighten($primary-color, 10%),
  500: $primary-color,
  600:darken($primary-color, 10%),
  700:darken($primary-color, 20%),
  800:darken($primary-color, 30%),
  900:darken($primary-color, 40%),
  A100:darken($primary-color, 50%),
  A200:darken($primary-color, 60%),
  A400:darken($primary-color, 70%),
  A700:darken($primary-color, 80%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: white,
    600: white,
    700: white,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: white,
    A400: white,
    A700: white
  ));
$accent-palette: (
  50:lighten($accent-color, 50%),
  100:lighten($accent-color, 40%),
  200:lighten($accent-color, 30%),
  300:lighten($accent-color, 20%),
  400: lighten($accent-color, 10%),
  500: $accent-color,
  600:darken($accent-color, 10%),
  700:darken($accent-color, 20%),
  800:darken($accent-color, 30%),
  900:darken($accent-color, 40%),
  A100:darken($accent-color, 50%),
  A200:darken($accent-color, 60%),
  A400:darken($accent-color, 70%),
  A700:darken($accent-color, 80%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: white,
    600: white,
    700: white,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: white,
    A400: white,
    A700: white,)
);
$warn-palette: (
  50:lighten($warn-color, 50%),
  100:lighten($warn-color, 40%),
  200:lighten($warn-color, 30%),
  300:lighten($warn-color, 20%),
  400: lighten($warn-color, 10%),
  500: $warn-color,
  600:darken($warn-color, 10%),
  700:darken($warn-color, 20%),
  800:darken($warn-color, 30%),
  900:darken($warn-color, 40%),
  A100:darken($warn-color, 50%),
  A200:darken($warn-color, 60%),
  A400:darken($warn-color, 70%),
  A700:darken($warn-color, 80%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: white,
    600: white,
    700: white,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: white,
    A400: white,
    A700: white,)
);
$success-palette: (
  50:lighten($success-color, 50%),
  100:lighten($success-color, 40%),
  200:lighten($success-color, 30%),
  300:lighten($success-color, 20%),
  400: lighten($success-color, 10%),
  500: $success-color,
  600:darken($success-color, 10%),
  700:darken($success-color, 20%),
  800:darken($success-color, 30%),
  900:darken($success-color, 40%),
  A100:darken($success-color, 50%),
  A200:darken($success-color, 60%),
  A400:darken($success-color, 70%),
  A700:darken($success-color, 80%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: white,
    600: white,
    700: white,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: white,
    A400: white,
    A700: white,)
);